<footer class="footer">
  <p>
    &copy; <%= new Date().getFullYear(); %>
    <a href="/">BlogiFy</a>
    • Built With
    <a href="https://nodejs.org" target="_blank" rel="noopener noreferrer"
      >NodeJS</a
    >
  </p>
  <div class="tech-stack">
    <span>Express</span>
    <span>MongoDB</span>
    <span>EJS</span>
  </div>
</footer>
