<header class="header">
  <a href="/" class="header__logo">BlogiFy</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/api/v1/posts">Home</a>
      </li>
      <li>
        <a href="/api/v1/posts/dashboard">My Blogs</a>
      </li>
      <li>
        <a href="/api/v1/posts/about">About</a>
      </li>
      <li>
        <a href="/api/v1/auth/logout">LogOut</a>
      </li>
  
    </ul>
  </nav>

  <div class="header__search">
    <form action="/api/v1/posts/search" method="post" class="search__form" role="search">
      <input
        type="search"
        name="searchTerm"
        class="header__search-input"
        placeholder="Search..."
        aria-label="Search"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
      />
    </form>
  </div>
</header>
