<div class="admin-title">
    <h2>Posts</h2>
    <a href="/api/v1/posts/add-post" class="button">+ Add New</a>
</div>

<ul class="admin-posts">
    <% data.forEach(post=> { %>
        <li>
            <a href="/api/v1/posts/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>

            <div class="admin-post-controls">
                <a href="/api/v1/posts/page/edit-post/<%= post._id %>" class="btn">Edit</a>

                <form action="/api/v1/posts/delete-post/<%= post._id %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE" class="btn">
                </form>
            </div>
        </li>
    <% }) %>
</ul>